body {
    background-color: lightgoldenrodyellow;
    padding: 0%;
    margin:0%
}

.header {
    background-color: #090c2e;
    height: 100px;
    width: 100%
}

.content-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.content-flex-container img {
    height: 500px;
    width: 500px;
}

.content-flex-container spacer {
    width: 50px;
}

.header img
    {
        width: 100%;
        height: 100%;
        object-fit: contain
        

    }

.welcome {
    color: black;
    padding-bottom: 20px;
    align-items: center

}